    .sidebar {
        display: flex;
        height: 100%;
        width: 40px;
        position: absolute;
        left: 0;
        top: 0;
        padding-top: 40px;
        flex-direction: column;
    }
    
    .top {
        flex-grow: 1;
        padding-right: 30%;
    }
    
    .flexbox-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 8;
        padding-right: 30%;
    }
    
    .middle>div {
        padding-top: 100%;
        padding-bottom: 100%;
    }
    
    .bottom {
        flex-grow: 1;
        margin-top: 100%;
        padding-right: 30%;
    }
    
    .rightcontainer {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
    }
    
    .navbar {
        position: relative;
    }
    
    .navbar-serach {
        width: 70%;
        height: 15%;
        padding: 15px;
    }
    
    .avatar {
        width: 50px;
        height: 38px;
        border-radius: 50%;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    .name {
        padding-left: 1%;
    }
    
    .fas {
        float: right;
        padding-top: 1%;
    }
    
    .far {
        float: right;
        padding-left: 60px;
        padding-top: 1%;
        padding-right: 1%;
    }
    
    .holdingcontainer {
        display: flex;
        flex-direction: row;
        /* padding-top: 4%; */
    }
    
    .box1 {
        flex: 1;
        padding: 30px;
        position: relative;
    }
    
    .box2 {
        flex: 1;
        padding: 30px;
    }
    
    .box3 {
        flex: 1;
        padding: 30px;
    }
    
    .box4 {
        flex: 1;
        padding: 30px;
    }
    
    .box1-first-text {
        position: absolute;
        text-align: center;
        top: 5%;
        margin-left: 2%;
        background-color: white;
    }
    
    .box1-second-text {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-right: 10%;
        padding-left: 10%;
    }
    
    .box1-third-text {
        position: absolute;
        bottom: 5%;
        left: 9%;
        background-color: white;
    }
    
    .box2 h4 {
        color: blue;
    }
    
    .box3 h4 {
        color: blue;
    }
    
    .box4 h4 {
        color: blue;
    }
    
    .endcontainer {
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
    }
    
    .box5 {
        flex: 1;
        padding: 30px;
    }
    
    .box6 {
        flex: 6;
        padding: 30px;
    }
    
    .tags {
        padding-top: 2%;
        padding-left: 1%;
    }
    
    .tag {
        padding-left: 2%;
    }
    
    .stylecontainer {
        padding-right: 10%;
        padding-left: 9%;
        padding-top: 4%;
        background: rgb(244, 244, 245);
        margin-bottom: 15%;
    }